# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [54]:
import numpy as np
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [55]:
sal = pd.read_csv('Salaries.csv')
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.00,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65504,65505,Zhihua Tan,Environmental Service Worker,21156.20,0.00,154.99,10086.59,21311.19,31397.78,2012,NaN,San Francisco,NaN
65505,65506,Mark Nicco,Attorney (Civil/Criminal),22936.00,0.00,312.50,8145.25,23248.50,31393.75,2012,NaN,San Francisco,NaN
65506,65507,Xiao Dong Cai,Custodian,27482.35,0.00,1396.86,2513.90,28879.21,31393.11,2012,NaN,San Francisco,NaN
65507,65508,Jose Aranda,Licensed Vocational Nurse,20178.00,1807.61,250.00,9151.42,22235.61,31387.03,2012,NaN,San Francisco,NaN
65508,65509,Connie Chen,Custodian,24706.14,0.00,0.00,6656.39,24706.14,31362.53,2012,NaN,San Francisco,NaN
65509,65510,Lai Lu,Patient Care Assistant,20050.66,1691.28,1545.06,8068.70,23287.00,31355.70,2012,NaN,San Francisco,NaN
65510,65511,Sue Kaplan,Court Commissioner,0.00,0.00,29113.20,2227.16,29113.20,31340.36,2012,NaN,San Francisco,NaN
65511,65512,Richard Weinberger,Gardener,19820.47,1255.15,312.68,9949.58,21388.30,31337.88,2012,NaN,San Francisco,NaN
65512,65513,David Dinh,Elections Clerk,19871.12,3550.33,440.00,7469.89,23861.45,31331.34,2012,NaN,San Francisco,NaN
65513,65514,Teresa Liu,Porter,15416.00,582.90,6248.09,9082.45,22246.99,31329.44,2012,NaN,San Francisco,NaN
65514,65515,Gretel Davila Lacayo,Medical Evaluations Assistant,27822.00,0.00,870.00,2630.16,28692.00,31322.16,2012,NaN,San Francisco,NaN
65515,65516,Kurt Ledesma,Deputy Sheriff 1,19897.00,1271.26,702.72,9449.83,21870.98,31320.81,2012,NaN,San Francisco,NaN
65516,65517,Erin Bowman,Special Nurse,28075.02,0.00,784.22,2456.97,28859.24,31316.21,2012,NaN,San Francisco,NaN
65517,65518,Sharon Fincher,Parking Control Officer,19387.97,0.00,274.63,11641.57,19662.60,31304.17,2012,NaN,San Francisco,NaN
65518,65519,Nweke Hearne,Custodian,19424.92,0.00,976.55,10902.39,20401.47,31303.86,2012,NaN,San Francisco,NaN
65519,65520,Richard Halloran,Senior Building Inspector,21523.20,0.00,1053.74,8725.56,22576.94,31302.50,2012,NaN,San Francisco,NaN
65520,65521,Roldan Ditan,Clerk,20485.50,0.00,0.00,10805.32,20485.50,31290.82,2012,NaN,San Francisco,NaN
65521,65522,Billy Vance,Registered Nurse,22242.80,0.00,891.99,8155.49,23134.79,31290.28,2012,NaN,San Francisco,NaN
65522,65523,Mary Ma,Emp & Training Spec 4,6923.43,0.00,18804.19,5556.96,25727.62,31284.58,2012,NaN,San Francisco,NaN
65523,65524,Flor Palacios-Rodriguez,Custodian,27599.54,453.38,725.09,2488.81,28778.01,31266.82,2012,NaN,San Francisco,NaN
65524,65525,Fayard Acluche,Patient Care Assistant,17098.13,422.04,3276.29,10469.95,20796.46,31266.41,2012,NaN,San Francisco,NaN
65525,65526,Eric Heinicke,General Laborer,24595.10,4210.46,10.80,2444.82,28816.36,31261.18,2012,NaN,San Francisco,NaN
65526,65527,Cecilia Chiu,Clerk,24011.39,0.00,0.00,7248.69,24011.39,31260.08,2012,NaN,San Francisco,NaN
65527,65528,Michael Taylor Jr,Environmental Service Worker,20870.68,78.43,592.45,9697.01,21541.56,31238.57,2012,NaN,San Francisco,NaN
65528,65529,Helene Campagnet,Special Nurse,24324.88,0.00,1210.16,5691.68,25535.04,31226.72,2012,NaN,San Francisco,NaN
65529,65530,Grace Montelongo,Eligibility Worker,18610.10,4778.92,1561.85,6236.06,24950.87,31186.93,2012,NaN,San Francisco,NaN
65530,65531,Erika Lovejoy,Planner 4-Environmental Review,17244.01,0.00,6634.63,7285.59,23878.64,31164.23,2012,NaN,San Francisco,NaN
65531,65532,Jeffrey Tom,Junior Engineer,28260.00,0.00,0.00,2893.82,28260.00,31153.82,2012,NaN,San Francisco,NaN
65532,65533,Mark Bellinger,Marina Assistant Manager,10454.13,1217.31,12195.89,7235.12,23867.33,31102.45,2012,NaN,San Francisco,NaN
65533,65534,Gerald Fowler Jr,Custodian,19346.77,93.71,5.05,11654.47,19445.53,31100.00,2012,NaN,San Francisco,NaN

** Check the head of the DataFrame. **

In [6]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [15]:
sal['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [16]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [30]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [31]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [38]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [40]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36156,36157,PAULETTE ADAMS,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.0,0.0,0.0,NaN,0.0,0.0,2011,NaN,San Francisco,NaN
36157,36158,KAUKAB MOHSIN,TRANSIT OPERATOR,0.0,0.0,0.0,NaN,0.0,0.0,2011,NaN,San Francisco,NaN
36158,36159,JOSEPHINE MCCREARY,MANAGER IV,0.0,0.0,0.0,NaN,0.0,0.0,2011,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [42]:
sal.groupby('Year').mean() ['BasePay']

Year
2011    63595.956517
2012    79782.254013
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [43]:
sal['JobTitle'].nunique()

2056

** What are the top 5 most common jobs? **

In [50]:
sal['JobTitle'].value_counts().head(5)

TRANSIT OPERATOR    2388
Transit Operator    2003
SPECIAL NURSE       1402
REGISTERED NURSE    1219
Registered Nurse    1207
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [57]:
sum(sal[sal['Year'] == 2011]['JobTitle'].value_counts() == 1)

200

** How many people have the word Chief in their job title? (This is pretty tricky) **

IndentationError: expected an indented block (<ipython-input-61-048d7694cdf8>, line 2)

SyntaxError: invalid syntax (<ipython-input-62-c668f1db788f>, line 1)

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [63]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [64]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.038745
title_len                -0.038745   1.000000

# Great Job!